/*
 * The navbar be styled to match the colour scheme and style of the one at www.quipper.com (Quipper blue is #18bde6)
 *
 */

.navbar {
  background-color: #18bde6;
}

.navbar a, .navbar a:hover, .navbar a:visited {
  color: #fff;
}

.navbar ul li a {
  color: #fff;
}

.navbar ul li.active a:hover {
  color: #18bde6;
  background-color: #fff;
}

.navbar ul li a:hover {
  color: #18bde6;
  background-color: #fff;
  transition: all .3s;
}

.navbar .active a, .navbar .active a:visited {
  color: #fff;
  background-color: #0C5A7C;
}

