/*
 * OpenSans be used as the main font, with nice crisp titles rather than heavy bold ones.
 *
 */

body, a,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; /* Normal */
}

p.content {
  margin: 35px 0px;
}

